nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    
}

main h2{
    /*font-family: 'Libre Baskerville', serif;*/
    font-family: 'Yeseva One', cursive;
}

main {
    background-color: #85AE09;
    margin-left: 20px;
    margin-right: 20px;
}


main p {
    font-family: 'Libre Baskerville', serif;
}

#event, #weather, #join, #news, #spotlight {
    text-align: center;
    
}

#flex-weather {
    display: flex;
    justify-content: center;
    align-content: center;
}




#event p, #join p, #news p, #join p, #join button, #event h2 {
    margin: 10px;
}

/*padding for grid blocks like #event will make grid borders thicker.*/

#headdate{
    font-family: 'Yeseva One', cursive;
}


footer h3{
    font-family: 'Yeseva One', cursive;
}

footer p{
    font-family: 'Libre Baskerville', serif;
}

nav {
    background-color: #F1F0EF;
    
    /*display: flex;*/
}

nav button {
    margin: 0.2rem 2vw;
    border: none;
    font-size: 2rem;
    
}

nav button:hover {
    background-color: #85AE09;
}

nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    border-top: 1px solid black;
    font-family: 'Yeseva One', cursive;
    color: black;
}


.responsive ul {
    display: block;
}


main img {
    
    width: 100%;
    
    
}

#weather img, #spot1 img, #spot2 img {
    width: 20%;
}

#hero {
    text-align: center;
    position: relative;   /* parent is relative while child is absolute */
}

#hero h2 {
    position: absolute;
    top: 10px;
    left: 40px;
}

#hero button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #F1F0EF;
    font-size: 20px;
    padding: 10px;
    font-family: 'Yeseva One', cursive;
}

#join button {
    background-color: #F1F0EF;
    font-size: 20px;
    padding: 10px;
    font-family: 'Yeseva One', cursive;
}



/*these two hovers may be doing the same thing.*/

.responsive ul li a:hover {
    background-color: #85AE09;
}

nav ul li a:hover {
    background-color: #85AE09;
}

nav img, footer img {
    max-width: 100px;
    
    
    
    
}



/*Need to make this section of the nav a grid*/
#logo {
    text-align: center;
    padding-bottom: 40px;
    
    
}
#facebook-logo {
    position: absolute;
    right: 10px;
}


#grid {
    display: grid;
    grid-template-columns: 1fr;
    
    text-align: left;
    padding: 10px;
    
    margin: 10px;
    column-gap: 10px;
    row-gap: 10px;
    


}


#grid > * {
    box-shadow: 1px 1px 20px 1px ;
}

#join, #spot3 {
    display: none;
}

#hero, #news, #event, #weather, #spotlight {
    background-color: #F1F0EF;
}

#grid2 {
    padding: 10px;
    background-color: #85AE09;
    margin: 5px;
}

footer {
    text-align: center;
    background-color: #F1F0EF;
}

#headdate {
    text-align: center;
    padding: 5px;

}

#discover-grid {
    background-color: #85AE09;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    
    margin: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

#discover-grid > * {
    box-shadow: 1px 1px 20px 1px ;
}

#disc-main {
    background-color: #85AE09;
}

.section {
    text-align: center;
    background-color: #F1F0EF;
}



.section img {
    width: 100%;
    
}