nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    
}

main h2, .section h2, h2, h3, h1{
    /*font-family: 'Libre Baskerville', serif;*/
    font-family: 'Yeseva One', cursive;
}

main {
    background-color: #85AE09;
    margin-left: 20px;
    margin-right: 20px;
}


main p, .section p, ul li, p {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.6;
}

#event, #weather, #join, #news, #spotlight {
    text-align: center;
    
}

#flex-weather {
    display: flex;
    justify-content: center;
    align-content: center;
}

#flex-weather p {
    font-size: 1.5em;
    padding-left: 10px; 
}




#event p, #join p, #news p, #join p, #join button, #event h2 {
    margin: 10px;
}

/*padding for grid blocks like #event will make grid borders thicker.*/

#headdate{
    font-family: 'Yeseva One', cursive;
}


footer h3{
    font-family: 'Yeseva One', cursive;
}

footer p{
    font-family: 'Libre Baskerville', serif;
}

nav {
    background-color: #F1F0EF;
    
    /*display: flex;*/
}

nav button {
    margin: 0.2rem 2vw;
    border: none;
    font-size: 2rem;
    
}

nav button:hover {
    background-color: #85AE09;
}

nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    border-top: 1px solid black;
    font-family: 'Yeseva One', cursive;
    color: black;
}


.responsive ul {
    display: block;
}


main img {
    
    width: 100%;
    
    
}

#weather img, #spot1 img, #spot2 img {
    width: 20%;
}

#hero {
    text-align: center;
    position: relative;   /* parent is relative while child is absolute */
}

#hero h2 {
    position: absolute;
    top: 10px;
    left: 40px;
}

#hero button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #F1F0EF;
    font-size: 20px;
    padding: 10px;
    font-family: 'Yeseva One', cursive;
}

#join button {
    background-color: #F1F0EF;
    font-size: 20px;
    padding: 10px;
    font-family: 'Yeseva One', cursive;
}

#join button:hover {
    background-color: #85AE09;
}

#hero button:hover {
    background-color: #85AE09;
}



/*these two hovers may be doing the same thing.*/

.responsive ul li a:hover {
    background-color: #85AE09;
}

nav ul li a:hover {
    background-color: #85AE09;
}

nav img, footer img {
    width: 32px;
    
    
    
    
}



/*Need to make this section of the nav a grid*/
#logo {
    text-align: center;
    padding-bottom: 40px;
    
    
}
#facebook-logo {
    position: absolute;
    right: 10px;
}


#grid {
    display: grid;
    grid-template-columns: 1fr;
    
    text-align: left;
    padding: 10px;
    
    margin: 10px;
    column-gap: 10px;
    row-gap: 10px;
    


}


#grid > * {
    box-shadow: 1px 1px 20px 1px ;
}

#join, #spot3 {
    display: none;
}

#hero, #news, #event, #weather, #spotlight {
    background-color: #F1F0EF;
}

#grid2 {
    padding: 10px;
    background-color: #85AE09;
    margin: 5px;
}

footer {
    text-align: center;
    background-color: #F1F0EF;
    padding: 30px;
}

#headdate {
    text-align: center;
    padding: 5px;

}

#discover-grid {
    background-color: #85AE09;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    
    margin: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

#discover-grid > * {
    box-shadow: 1px 1px 20px 1px ;
}

#disc-main {
    background-color: #85AE09;
}

.section {
    text-align: center;
    background-color: #F1F0EF;
}

.section p {
    text-align: center;
    padding: 10px;
   
}



.section img {
    width: 100%;
    
}

#days{
    text-align: center;

}


/*Join Page CSS */

#join-main {
    background-color: #85AE09;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    
    

}

#joinchamber {
    text-align: center;
}


label, input {
    display: block;
    font-size: 1.5em;
    padding-left: 10px;
}

label {
    margin-top: 20px;
}

input {
    height: 50px;
}

#join-main form {
    background-color: #F1F0EF;
    box-shadow: 1px 1px 20px 1px ;
    padding: 10px;
}

#membership  {
    background-color: #F1F0EF;
    box-shadow: 1px 1px 20px 1px ;
    padding: 10px;
    line-height: 1.6;
}

form input:required {
    border-left: red solid 6px;
}

form input:required:valid {
    border-left: green solid 6px;
}

input[type='radio']{
    height: 20px;
}

#radio {
    display: grid;
    grid-template-columns: 60px 100px;
    align-items: center;
}

#radio label {
    margin: 8px;
}

textarea {
    height: 150px;
    
}


input, textarea {
    width: 93%;
    max-width: 700px;
}

input[type='submit']{
    background-color: #85AE09;
    margin: 10px;
}

/* Thank you site */

#thankyoumess {
    text-align: center;
}


/* Directory */

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

section {
    position: relative;
    border: 1px solid black;
    background-color: #F1F0EF;
    padding: 30px;
    width: 300px;
    margin: 20px;
    box-shadow: 1px 1px 20px 1px ;
}

.cards img {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
    margin-bottom: 50px;
}

#dir-main h1, #dir-main h2{
    text-align: center;
    
}

section p {
    text-align: left;
    /*position: absolute;*/
    
}

#view {
    text-align: center;
    font-size: 3em;
    padding: 10px;
}

#view #cards, #view #list {
    border: 3px solid black;
    padding: 0 8px;
    cursor: pointer;
    background-color: #F1F0EF;

}

table {
    width: 75%;
    margin: 50px auto;
    font-size: 1.2em;
    padding: 10px;
}

td {
    padding: 5px;
    display:block;   /* media query use display: table-cell*/
}

tr:nth-of-type(odd){
    background-color: #F1F0EF;
}

#contact-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    

}

#contact-container  {
    background-color: #F1F0EF;
    text-align: center;
    margin: 50px;
    padding: 50px;
    box-shadow: 1px 1px 20px 1px ;
}

#sub-container {
    display: grid;
    grid-template-columns: 1fr;
}

#sub-container h2 {
    padding: 20px;
}