/*https://coolors.co/f1f0ef-909395-85ae09-565e21-01161e*/




body {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    
    

}

h1, h2, h3{
    
    color: black;
    font-family: 'Courgette', cursive;
    
    padding: 10px;
    background-color: #FFD23F;
    
    
}

main{
    background-color: #2B2B2B;
    padding:10px;
    
    font-family: 'Crimson Text', serif;
}

main p, li{
    
    line-height: 20px;
    color: white;
    font-size: larger;
    
}

img {
    width: 95%;
    
   
   
    display: block;
    margin: 0 auto;
}

#fix {
    margin-top: 20px;
}

#logo{
    max-width: 20%;
}

#grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.section {
    margin:5px;
    
}






#design #sample1 {
    background-color: #FFD23F;
    border:solid black;
    color: black;
    padding: 5px;
}

#design #sample2 {
    margin-top: 10px;
    background-color: #2B2B2B;
    border:solid black;
    color: white;
    padding: 5px;
}

#sample2 h2 {
    background-color: #2B2B2B;
    color: white;
}

#design #sample1 p {
    
    color: black;
   
}



nav {
    background-color: #2B2B2B;
    padding: 5px;
    padding-top: 10px;
    
        
}

#design #sample1 hr {
    height: 2px;
    background-color: black;
    border: none;

}



nav ul li{
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #FFD23F;
    border-radius: 10px;
    margin-right: 3.5%;
    font-family: 'Crimson Text', serif;
    font-size: larger;
}

a {
    color: #01161E;
    
    
}


@media screen and (max-width: 631px) {
    #grid {
    display:grid;
    grid-template-columns: 1fr;
    }

    body {
        
        margin: 0 auto;
        text-align: center;
        
    }

    nav ul li{
		display: block;
        margin-top: 10px;
        border-radius: 0;
        border: solid black;
        margin-right: 30px;
	} 

    
  }
