.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

section {
    border: 1px solid navy;
    background-color: lightblue;
    padding: 30px;
    width: 300px;
    margin: 20px;
}

.cards img {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
}

h1, h2{
    text-align: center;
    color: navy;
}

#view {
    text-align: center;
    font-size: 3em;
}

#view #cards, #view #list {
    border: 3px solid black;
    padding: 0 8px;
    cursor: pointer;

}

table {
    width: 75%;
    margin: 50px auto;
    font-size: 1.2em;
}

td {
    padding: 5px;
    display:table-cell;   /* media query use display: table-cell*/
}

tr:nth-of-type(even){
    background-color: #888888;
}